

.header {
    height: 120px;
    line-height: 120px
    
}

.header .shortcut {
    margin: 0 80px;
    float: right;
    color: #666
}

.header .shortcut a {
    font-size: 14px;
    padding: 0 10px
}

.header .shortcut a:hover {
    color: #F16522
}

.main {
    border-top: 1px solid #ddd;
    height: 628px;
    background: url(../images/46021fa5ad50ec2499ed08d473076b7b.jpg) -285px 0
}

.main .login-wrap {
    width: 410px;
    border-radius: 1px;
    margin-left: 810px;
    margin-top: 70px;
    padding: 30px 0
}

.main .login-wrap .login-area {
    margin: auto;
    width: 340px
}

.main .login-wrap .login-area .login-title {
    text-align: center;
    font-size: 14px;
    color: #555;
    padding-bottom: 15px;
    border-bottom: 1px solid #F16522
}

.main .login-wrap .login-area .input {
    height: 45px;
    border: 1px solid #ddd;
    line-height: 45px;
    font-size: 14px;
    padding: 0 13px;
    margin-bottom: 20px
}

.main .login-wrap .login-area .input i {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 16px;
    margin-right:5px;
    background: url(../images/ico.png) no-repeat
}

.main .login-wrap .login-area .input .psw-ico {
    background-position: 0 -28px
}

.main .login-wrap .login-area .input input {
    float: right;
    padding:0px 8px;
    width: 270px;
    height: 45px;
    color: #666;
    border: none;
    line-height: 45px
}

.main .login-wrap .login-area .submit {
    width: 100%;
    height: 50px;
    background-color: #F16522;
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    cursor: pointer
}

.main .login-wrap .login-area .message {
    height: 30px;
    line-height: 30px;
    color: red;
}

.footer {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 14px
}
