@charset "UTF-8";
.goods-list{
	margin-top:30px;
}
.goods-list ul {
    background-color: #fff;
    overflow: hidden
}

.goods-list ul li {
    padding-top: 15px;
    float: left;
    margin: 7px;
    width: 220px;
    height: 300px;
    border: 1px solid #ddd
}

.goods-list ul li .imgbox {
    text-align: center
}

.goods-list ul li .imgbox img {
    position: relative;
    margin-top: 10px;
    width: 158px;
    height: 160px;
    transition: transform .5s;
    -moz-transition: transform .5s;
    -webkit-transition: transform .5s;
    -o-transition: transform .5s
}

.goods-list ul li .imgbox img:hover {
    transform: translate(0, -8px);
    -ms-transform: translate(0, -8px);
    -webkit-transform: translate(0, -8px);
    -o-transform: translate(0, -8px);
    -moz-transform: translate(0, -8px)
}

.goods-list ul li p {
    padding: 10px 15px;
    padding-bottom:0px;
    height:35px;
    color: #999
}

.goods-list .p2 {
    line-height: 30px;
    padding: 0 15px
}

.goods-list .p2 .price {
    font-size: 14px;
    color: #dd2727;
    font-weight: 700
}

.goods-list .p2 .lab {
    margin-right:10px;
}

.goods-list .price:before {
    content: "￥"
}

.goods-list .foot {
    margin-top: 6px
}

.goods-list .foot a {
    display: block;
    line-height: 40px;
    text-align: center;
    border-top: 1px solid #ddd;
    color:#F26D34;
    
}

.goods-list .foot a:hover {
    background: #F26D34;
    color: #fff;
    font-size: 14px
}
